Package: glew
Version: 2.2.0
Port-Version: 3
Depends: opengl, vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: 85d2ca4b8bf20ed37e7688123d5e2468995b2d830fc7262d994db54a55ca637d
Description: The OpenGL Extension Wrangler Library (GLEW) is a cross-platform open-source C/C++ extension loading library.
