Package: glew
Version: 2.2.0
Port-Version: 3
Depends: opengl, vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: ded56ffdf1ba05184f75ab3acd24747022de0e91578aea91948f0a67cac4bd6c
Description: The OpenGL Extension Wrangler Library (GLEW) is a cross-platform open-source C/C++ extension loading library.
